@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(177, 41%, 91%);
    color: hsl(170, 100%, 15%);
}

.login-button {
    text-decoration: none;
    border: 5px solid hsl(177, 41%, 91%);
    background-color: hsl(170, 100%, 15%);
    border-radius: 15px;
    color:  hsl(177, 41%, 91%);
    display: inline-block;
    text-align: right;
    padding: 10px 10px;
    margin: 5px 5px;
}