/* Importing font used in other pages */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Global Style */
body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(170, 100%, 15%);
    color: hsl(177, 41%, 91%);
    min-height: 100vh;
    margin: 0;

    /* Centering the card */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Card container */
#settings-card{
    background-color: #fff;
    color: hsl(0, 0%, 20%);
    padding: 3rem 3rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 25);
    width: 100%;
    max-width: 400px;
    height: auto;
    text-align: center;
    transition: all 0.3s ease;
}

/* Title */
#form-title{
    color: hsl(173, 100%, 25%);
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Subtitle */
.subtitle{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

/* Inputs */
form > div{
    margin-bottom: 1.5rem;
}

.api-item > label{
    color: hsl(170, 100%, 15%);
    font-size: 1.5rem;
    font-weight: bold;
}

.api-item input[type = "checkbox"]{
    accent-color: hsl(173, 100%, 25%);
    cursor: pointer;
}

.api-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
}

#save-button{
    width: 100%;
    height: auto;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(170, 100%, 15%);
    color: hsl(177, 41%, 91%);
    cursor: pointer;
    transition: background-color 0.3 ease, box-shadow 0.2s ease;
}

#save-button:hover{
    background-color: hsl(173, 100%, 20%);
}